.post-category
  background #0288d1
  width 100%
  height 110px
  line-height 110px
  text-align center
  color #ffffff
  font-family "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight bold

.post-php
  background #4f5d95

.post-css
  background #563d7c

.post-html
  background #5bc0de

.block
  height 60px

.inner
  display inline-block
  vertical-align middle
  padding 3px 5px

.block .avatar
  width 50px
  height 50px
  background #0288d1
  border-radius 50%
  text-transform uppercase
  line-height 42px
  text-align center;
  color white
  font-weight bold

.pagination .active a
  background-color #002fc9 !important

div.mini-widget-thumb
  height 60px
  width 60px
  background-color #e34c26
  text-transform uppercase
  line-height 55px
  text-align center;
  color white
  font-weight bold


