.post-category
  background #0288d1
  width 100%
  height 110px
  line-height 110px
  text-align center
  color #ffffff
  font-family "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight bold

.post-php
  background #4f5d95

.post-css
  background #563d7c

.post-html
  background #e34c26


